<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CurrX</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <a href="/"><img class="logo" src="images/CurrX-logo.png" alt="Image not found"></a>
    <h1>MONEY</h1>
    <h1>EXCHANGE</h1>
    <h1>SERVICE</h1>

    <form action="/submit" method="POST">
        <label for="lang">Base Currency: </label>
        <select name="base" id="base">

          <% if (locals.currencies) { %>

            <% for (const [key, currency] of Object.entries(locals.currencies)) { %>
              <option value="<%= key %>"> <%= currency %> </option>
            <% } %>

          <% } %>

        </select>
        <!-- <input type="submit" value="Submit" /> -->

        <label for="lang"> Amount to be Converted </label>
        <!-- <select name="language2" id="lang">
          <option value="javascript">JavaScript</option>
          <option value="php">PHP</option>
          <option value="java">Java</option>
          <option value="golang">Golang</option>
          <option value="python">Python</option>
          <option value="c#">C#</option>
          <option value="C++">C++</option>
          <option value="erlang">Erlang</option>
        </select> -->
        <input type="number" placeholder="Enter Amount" name="amount"/>

        <label for="lang">Exchange Currency: </label>
        <select name="rates" id="rates">

          <% if (locals.currencies) { %>

            <% for (const [key, currency] of Object.entries(locals.currencies)) { %>
              <option value="<%= key %>"> <%= currency %> </option>
            <% } %>
            
          <% } %>

        </select>
        <input type="submit" value="OK" />
  </form>
</body>
</html>